[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DeepLearningCausal"]
	path = DeepLearningCausal
	url = https://github.com/hknd23/deeplearningcausal
